{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row" style="padding-top: 50px;">
        <h1>Forecast yield</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form>
    
                <div class="mb-3">
                    <label class="form-label" for="soilpH">soilpH</label>
                    <input class="form-control" type="number" name="soilpH" id="soilpH">
                    <div class="form-text">soilpH. Typically ranges 1000 - 1050.</div>        
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="rain">Rain</label>
                    <input class="form-control" type="number" name="rain" id="rain">        
                    <div class="form-text">Rain. Typically ranges: 40-60</div> 
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="shire">Shire</label>
                    <select class="form-select" id="shire" name="shire">
                        <option value="albany">Albany</option>
                        <option value="melbourne">Melbourne</option>
                        <option value="sydney">Sydney</option>
                        <option value="canberra">Canberra</option>
                        <option value="darwin">Darwin</option>
                        <option value="brisbane">Brisbane</option>
                        <option value="adlaide">Adelaide</option>
                        <option value="hobart">Hobart</option>
                    </select>
                </div>
    
                <button type="button" class="btn btn-dark" id="forecast">Submit</button>
        </div>

        <div class="row" style="padding-top: 50px;" id="forecasted-strw_yield">
            
        </div>
    </div>
    
</div>

<script src="../static/js/forecast.js"></script>

{% endblock %}